<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQLLoginDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>845BC0331CA3CF6B006A316B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845BC04C1CA3CF6C006A316B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>845BC0571CA3CF6C006A316B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
